.App {
  width: 100%;
  min-height: 100vh;
  background: #000;
  color: #fff;
  position: relative;
}

.content-wrapper {
  position: relative;
}

.content-wrapper::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('/dozemate_empty.png');
  /* Keeping filename if image exists, or should I change it? User didn't provide new background. Warning: strictly replacing text 'dozemate' might break paths if I'm not careful.  User asked to replace "dozemate.com" and text. I will replace text content primarily. */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  pointer-events: none;
}

.content-wrapper>* {
  position: relative;
  z-index: 1;
}